.d {
    float: left;
    overflow: hidden;
}

.d .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .d:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.d-content {
    display: none;
    position: inherit;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.d-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.d-content a:hover {
    background-color: #ddd;
}

.show {
    display: none;
}